.frame {
	font-weight: bold;
	position: relative;
	height: 0%;
	transition: height 2s;
	height: 100%;
	background-color: white;
	border-radius: 1em;

	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		
		strong, .opcId { 
			line-height: 1em;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: inline-block;
			overflow: hidden;
			vertical-align: baseline;
		}
		.opcId {
			color: red;
			width: 5em;
		}
		.hdiv {
			border-bottom: 1px solid black;
			margin: 0.4em -0.4em;
		}
		.icons {
			float: right;
			height: 2em;
			margin: -.4em;
			width: 7em;
			background-color: black;
			color: white;
			line-height: 1.2em;
			padding: 0.4em;
			box-sizing: border-box;

			i {
				margin-left: 0.7em;
				line-height: 1.2em;
			}
			i.fa-triangle { color: red; }
		}
		.timer {
			height: 5px;
			background-color: black;
			width: 100%;
			-webkit-transition:width 1s;
			transition:width 1s;
		}
	}
	
	
	.body {
		position: absolute;
		top: 7em;
		bottom: 4em;
		overflow: auto;
		padding-top: 1em;
		left: 0;
		right: 0;
		.read {
			margin: 1em 0.4em;
			font-size: 1.6em;
			input {
				width: 1.4em;
				height: 1.4em;
			}
		}

		.barcode {
			padding: 0 0 1em;
			width: 100%;
		}
		.message {
			padding: 0.4em;
			font-size: 2em;
			
		}

		.button {
			font-size: 1.4em;
			border: 3px solid black;
			padding: 0.75em;
			width: 12em;
			text-align: center;
			display: block;
			margin-left: 1em;
			font-weight: bold;
			font-family: sans-serif;
			cursor: pointer;
		}
	}
	.footer {
		margin-top: 2em;
		cursor: pointer;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		.inner {
			height: 4em;
			display: none;
		}
		h4 {
			background-color: black;
			color: white;
			margin: 0;
			font-size: 1.4em;
			font-weight: normal;
			span, i { padding: 1em; }
			span {
				float: right;
			}
			i { width: 4em; }
		}
		p {
			font-size: 0.8em;
			margin: 0.4em;
		}
	}

	&:not(.read) {
		.actions { display: none; }
	}

	&.general {
		background-color: #f0f2f3;
	}
	&.civil{
		background-color: #f4fb8b;
	}
	&.info{
		background-color: #bedeff;
	}
}



.frame .header .inner,
.frame .footer .inner {
	padding: 0.4em;
	border-bottom: 1px solid black;
	font-size: 1.6em;
}